<div class="card p-4 pt-2">
    <div class="d-flex justify-content-end" 
        (click)="openPopup()">
        <i class="fa-regular fa-circle-question justify-content-end"></i>
    </div>
        
    <form [formGroup]="serviceDetailsForm" class="from-group">
        <section class="mb-3">
            <label class="form-label" for="pages"> Number of Pages </label> 
            <div class="d-flex">
            
                <button 
                    type="button" 
                    class="btn btn-primary me-2"
                    (click)="addExtra('pages')">
                    <i class="fa-solid fa-plus"></i></button>
                <input 
                    type="number"
                    formControlName="pages" 
                    (keyup)="computeExrasPrice()"
                    class="form-control"
                    [(ngModel)]="pages"
                    id="pages"/>            
                
                <button 
                    type="button" 
                    class="btn btn-primary ms-2"
                    (click)="subtractExtra('pages')">
                <i class="fa-solid fa-minus"></i></button>            
            </div>
            <p *ngIf="(serviceDetailsForm.controls['pages'].getError('min') && pagesValueChanged ) || serviceDetailsForm.controls['pages'].touched"
            class="text-danger ps-5">Please enter a value greater than or equal to 1</p>
        </section>
    
        <label class="form-label" for="languages"> Number of Languages </label>
        <div class="d-flex ">
            <button 
                type="button" 
                class="btn btn-primary me-2"
                (click)="addExtra('languages')">
                <i class="fa-solid fa-plus"></i></button>
            <input 
                type="number"
                formControlName="languages" 
                (keyup)=" computeExrasPrice()"
                class="form-control" 
                [(ngModel)]="languages"
                id="languages" />
            
            <button
                type="button" 
                class="btn btn-primary ms-2"
                (click)="subtractExtra('languages')">
            <i class="fa-solid fa-minus"></i></button>
        </div>
        <p *ngIf="(serviceDetailsForm.controls['languages'].getError('min') && languagesValueChanged) || serviceDetailsForm.controls['languages'].touched "
        class="text-danger ps-5">Please enter a value greater than or equal to 1</p>
        
    </form>
    
</div>
    
    
    

