<div class="navbar navbar-light bg-secondary py-4"></div>
<div class="container d-flex-col pt-5 text-center">
    <h1 class="display-2 mt-5 mb-5">Unlock Your Online Success with Our Affordable Services</h1>
    <hr>
    <p class="lead ">
        Empower your online presence with our comprehensive offerings: Create a stunning website, boost your
        visibility, and supercharge your reach. Get started today!"
    </p>
    <button class="btn btn-secondary mt-4" routerLink="/home">Discover More</button>
</div>
