<form [formGroup]="clientQuoteForm">
    <div *ngFor=" let data of clientData" class="mb-3">

        <div class="form-floating">
            <input [formControlName]="data.dataType" type="text" class="form-control" id="data.dataType" [placeholder]="data.dataType" >
            <label [for]="data.dataType"> {{data.dataType}}</label>
        </div>

        <p *ngIf="clientQuoteForm.controls[data.dataType].touched && clientQuoteForm.controls[data.dataType].getError('required')"
        class="text-danger">Required Field</p>
    </div>
</form>
 <!--replace clinetQuoteForm.controls for a letter such as f-->

   