
<app-home-navbar></app-home-navbar>
<div class="container mt-5">
  <h2>What would you like to do?</h2>
<form [formGroup]="clientForm" (ngSubmit)="saveServices()" >

  <section formGroupName="serviceCheckbox" class="mt-4 mb-3" >

    <div *ngFor="let service of companyServiceList" class="form-check" >

      <input  
        type="checkbox"
        class="form-check-input"
        [formControlName]="service.id"
        [id]="service.id"
        (change)="computeTotalPrice()"
      />

      <label [for]="service.id" class="form-check-label" > {{service.label}} - {{service.price}}€ </label>

      <app-home-panel *ngIf="f.get('serviceCheckbox.website')?.value && service.id==='website'"
      (panelChanged)="computeTotalPrice()">
      </app-home-panel>
     
    </div>
    
    <p *ngIf="f.controls['serviceCheckbox'].errors && f.controls['serviceCheckbox'].touched"  class="text-danger">Please select at least one service</p>
      <p>Total: {{totalQuote}}€</p>

  </section>


  <section>
  
      <div *ngFor=" let data of clientData" class="mb-3">
  
          <div class="form-floating">
              <input [formControlName]="data.dataType" type="text" class="form-control" [id]="data.dataType" [placeholder]="data.dataType" (keydown)="formIsValid()"/>
              <label [for]="data.dataType"> {{data.label}}</label>
          </div>
  

          <p *ngIf=" (data.dataType==='clientName') && f.controls['clientName'].touched  && ( f.controls['clientName'].getError('required')
            || f.controls['clientName'].getError('minLength'))"
            class="text-danger"> Minimum 2 characters</p>

          <p *ngIf=" (data.dataType==='quoteName') && f.controls['quoteName'].touched  && ( f.controls['quoteName'].getError('required')
            || f.controls['quoteName'].getError('minLength'))"
            class="text-danger"> Minimum 3 characters</p>
           
      </div>
 

  </section>

  <button type="submit" [disabled]="!isValidForm">Submit</button>
</form>
<p>value</p>
{{f.value | json}}
<p>status</p>
{{f.status | json}}
<!--
  <form (ngSubmit)="formIsValid() ">
      <section class="mt-4 mb-3">
          <div *ngFor="let service of companyService" class="form-check">
      
            <input 
              class="form-check-input" 
              type="checkbox" 
              (change)="isChecked($event, service)
              "
            />
              
            <label class="form-check-label" > {{service.name}} - {{service.price}}€ </label>
            
            <app-home-panel 
              *ngIf="service.name === this.companyService[0].name && this.companyService[0].checked===true"
              (panelChanged)="computeTotalPrice(service)">
            </app-home-panel>
      
          </div>
          
      </section>
      <p *ngIf="noServiceSelected"  class="text-danger">Please select at least one service</p>
      <p>Total: {{totalPrice}}€</p>

      <section>
        <app-client-quote-form></app-client-quote-form>
      </section>

      <button type="submit" class="btn btn-primary">Submit</button>
        
  </form>
  <app-home-client-quote-list></app-home-client-quote-list>
</div>

-->
